header{
    background-color:coral;
    color:black;
    display:flex;
    justify-content: space-between;
    padding:10px;
}
nav a{
    text-decoration: none;
    color:black;
    padding:  5px 10px;
}
.banner{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 1px 2px white;
}
nav a:hover{
    background-color:rgb(255, 72, 0);
}